<div class="row">
	<div class="col-md-12" ng-show="!evm.empresaObs.uploader.isLoading">
		<form novalidate name="empresa_frm" class="form-horizontal" ng-include="'views/empresas/partials/frmcreate.html'"></form>
	</div>
	<!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="evm.empresaObs.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ evm.empresaObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/empresas"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="evm.empresaObs.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ evm.empresaObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/empresas"> Regresar</a>
        </div>
    </div>
</div>
<br><br>
