<form class="form-horizontal">
    <div class="panel panel-default" ng-controller="AuthController">
        <div class="panel-heading">
            <h3 class="panel-title">Ticket<strong> {{ ticket.prefijo }}-{{ ("0000" + ticket.correlativo).slice(-5) }}</strong></h3>
        </div>
        <div class="panel-body" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])">
            <p>Realiza todas las acciones necesarios, para el ticket actual</p>
        </div>
        <div class="panel-body" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])">
            <!-- row1 -->
            <div class="row">
                <!-- col1 -->
                <div class="col-md-4">
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">Empresa</label>
                        <div class="col-md-9">
                            <select class="form-control select" disabled name="empresa" ng-model="ticket.empresa" ng-options="empresa.razon_social for empresa in empresas track by empresa.id"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Sucursal</label>
                        <div class="col-md-9">
                            <select class="form-control select" name="sucursal" ng-model="ticket.sucursal" ng-options="sucursal.nombre for sucursal in sucursales track by sucursal.id"></select>
                        </div>
                    </div>

                    <div class="form-group" ng-controller="ModalPersonaCtrl">
                        <label class="col-md-3 control-label">Solicitante</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select class="form-control select" name="reportador" ng-model="ticket.reportador" ng-options='(reportador.nombre + " " + reportador.apellidos) for reportador in personas track by reportador.id'></select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open('lg')"><span class="fa fa-plus"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>    

                    <!-- modal personas -->
                    <div class="form-group" ng-controller="ModalPersonaCtrl">
                        <script type="text/ng-template" id="personasModalContent.html">
                            <div class="modal-body">
                                <div class="table-responsive" ng-controller="PersonaController">
                                   <div ng-show="!persobaObs.uploader.isLoading">
                                        <form novalidate name="persona_frm" class="form-horizontal" ng-submit="newPersona(persona_frm.$valid)" ng-include="'views/personas/forms/form.html'"></form>
                                    </div>
                                    <div class="col-md-12" ng-show="persobaObs.uploader.isError">
                                        <div class="alert alert-danger" role="alert"><strong>{{ persobaObs.uploader.message }}</strong></div>
                                    </div>
                                    <div class="col-md-12" ng-show="persobaObs.uploader.isSuccess">
                                        <div class="alert alert-success" role="alert"><strong>{{ persobaObs.uploader.message }}</strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
                            </div>
                        </script>
                    </div>
                    <!-- end modal personas -->

                    <div class="form-group">
                        <label class="col-md-3 control-label">Afectado</label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-model="ticket.tipoafectado" ng-options='tipoafectado.nombre for tipoafectado in tipoafectados track by tipoafectado.id'></select>
                        </div>
                    </div> 

                    <div class="form-group" ng-show="ticket.tipoafectado.id == 1" >
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-required="ticket.tipoafectado.id == 1" ng-model="ticket.sucursal_afectada" ng-options='sucursal.nombre for sucursal in sucursales track by sucursal.id'></select>
                            <span class="help-block">Sucursal afectada</span>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ticket.tipoafectado.id == 2">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-required="ticket.tipoafectado.id == 2" ng-model="ticket.area_afectada" ng-options='area.nombre for area in areas track by area.id'></select>
                            <span class="help-block">Area afectada</span>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ticket.tipoafectado.id == 3" ng-controller="ModalPersonaCtrl">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select class="form-control select" ng-required="ticket.tipoafectado.id == 3" ng-model="ticket.persona_afectada" ng-options='(afectado.nombre + " " + afectado.apellidos) for afectado in personas track by afectado.id'></select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open('lg')"><span class="fa fa-plus"></span></button>
                            </div>
                            <span class="help-block">Persona afectada</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Grupo</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateAsignado" ng-model="ticket.currentMovimiento.grupo" ng-options='grupo.nombre for grupo in grupos track by grupo.id' ng-required="ticket.currentMovimiento.updateAsignado"></select>
                                <span class="input-group-addon">
                                    <input type="checkbox" class="icheckbox_minimal-grey checked icheckbox" id="updateAsignado" name="updateAsignado" ng-model="ticket.currentMovimiento.updateAsignado" />
                                </span>
                            </div>
                            <span class="help-block">Grupo asignado</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">Asignado</label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateAsignado" ng-model="ticket.currentMovimiento.asignado" ng-options='(asignado.persona.nombre + " " + asignado.persona.apellidos) for asignado in asignados track by asignado.id'></select>
                            <span class="help-block">Analista asignado</span>
                        </div>
                    </div>
                    
                </div>
                <!-- end - col1 -->

                <!-- col2 -->
                <div class="col-md-4">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Tipo</label>
                        <div class="col-md-9">
                            <select class="form-control select" disabled ng-model="ticket.tipoticket" ng-options="tipo.nombre for tipo in tipotickets track by tipo.id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Severidad</label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-model="ticket.severidad" ng-options="severidad.nivel for severidad in severidades track by severidad.id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Clase</label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-model="ticket.clase" ng-options="clase.nombre for clase in incclases track by clase.id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Prioridad</label>
                        <div class="col-md-9">
                             <select class="form-control select" disabled ng-model="ticket.prioridad" ng-options="prioridad.nombre for prioridad in prioridades track by prioridad.id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Estado</label>
                        <div class="col-md-9">
                            <select class="form-control select" ng-model="ticket.estado" ng-options="estado.nombre for estado in estados track by estado.id"></select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ticket.estado.id == 7" ng-controller="DatepickerCtrl">
                        <label class="col-md-3 control-label">Fecha</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" disabled class="form-control" ng-model="ticket.currentMovimiento.fechaprogramado" datepicker-popup="yyyy-MM-dd" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="cerrar" ng-required="ticket.estado.id == 7" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <span class="help-block">Indica la fecha programada</span>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ticket.estado.id == 7" ng-controller="TimepickerCtrl">
                        <label class="col-md-3 control-label"><br>Hora (24H)</label>
                        <div class="col-md-9">
                            <timepicker ng-model="ticket.currentMovimiento.fechaprogramado" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                            <span class="help-block">Hora (12H) es: {{ ticket.currentMovimiento.fechaprogramado | date:'shortTime' }}</span>
                        </div>
                    </div>
                </div>
                <!-- end - col2 -->

                <!-- col3 -->
                <div class="col-md-4">

                    <div class="form-group" ng-controller="ModalTicketCtrl">
                        <label class="col-md-3 control-label">Referencia</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ticket.referencia.tipo.nombre" readonly="" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open('lg')"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                            <span ng-show="ticket.referencia.id" class="help-block">Ticket ID: {{ ticket.referencia.id }} ( {{ ticket.referencia.tipo.nombre }} )</span>
                        </div>
                    </div>
                    <!-- modal tickets -->
                    <div class="form-group" ng-controller="ModalTicketCtrl">
                        <script type="text/ng-template" id="ticketsModalContent.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Tickets</h3>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive" ng-controller="dtTickets">
                                    <div>
                                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover datatable dataTable no-footer"></table>
                                    </div>
                                </div>
                                Seleccionado ID: <b>{{ selected.item.id }} ( {{ selected.item.tipo.nombre }} )</b>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">OK</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                            </div>
                        </script>
                    </div>
                    <!-- end - modal tickets -->

                    <div class="form-group" ng-controller="ModalComponenteCtrl">
                        <label class="col-md-3 control-label">Elemento</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ticket.componente.nombre" readonly="" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open('lg')"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                            <span ng-show="ticket.componente.id" class="help-block">ID: {{ ticket.componente.id }} - {{ ticket.componente.nombre }}: {{ ticket.componente.clasificacion.nombre }} ( {{ ticket.componente.estado.nombre }} )</span>
                        </div>
                    </div>
                    <!-- modal componentes -->
                    <div class="form-group" ng-controller="ModalComponenteCtrl">
                        <script type="text/ng-template" id="componentesModalContent.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Elementos de Configuración (ICs)</h3>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive" ng-controller="dtComponentes">
                                    <div>
                                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover datatable dataTable no-footer"></table>
                                    </div>
                                </div>
                                Seleccionado ID: <b>{{ selected.item.id }} - {{ selected.item.nombre }}: {{ selected.item.clasificacion.nombre }} ( {{ selected.item.estado.nombre }} )</b>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">OK</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                            </div>
                        </script>
                    </div>
                    <!-- end - modal componentes -->

                    <!-- clasificacion antigua -->
                    <div class="form-group" ng-controller="ModalTipificacionCtrl">
                        <label class="col-md-6 control-label">Clasificación del motivo</label>
                         <div class="col-md-4">
                                <label class="check"><input type="checkbox" class="icheckbox_minimal-grey checked icheckbox" id="updateMotivo" name="updateMotivo" ng-model="ticket.updateMotivo" /> Actualizar</label>
                            </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-btn" ><button type="button" class="btn btn-default" ng-click="open('lg')"><span class="fa fa-plus"></span></button></span>
                            </div>
                        </div>
                    </div> 
                    <!-- modal tipificaciones -->
                    <div class="form-group" ng-controller="ModalTipificacionCtrl">
                        <script type="text/ng-template" id="tipificacionesModalContent.html">
                            <div class="modal-body">
                                <div class="table-responsive" ng-controller="TipificacionController">
                                    <div ng-show="!tipificacion.uploader.isLoading">
                                        <form novalidate name="tipificaciones_frm" class="form-horizontal" ng-include="'views/tipificaciones/forms/frm_create.html'"></form>
                                    </div>
                                    <div class="col-md-12" ng-show="tipificacion.uploader.isError">
                                        <div class="alert alert-danger" role="alert"><strong>{{ tipificacion.uploader.message }}</strong></div>
                                    </div>
                                    <div class="col-md-12" ng-show="tipificacion.uploader.isSuccess">
                                        <div class="alert alert-success" role="alert"><strong>{{ tipificacion.uploader.message }}</strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
                            </div>
                        </script>
                    </div>
                    <!-- end - modal tipificaciones -->
                    
                    <div class="form-group">
                        <div class="col-md-4">
                            <select class="form-control select" ng-disabled="!ticket.updateMotivo" ng-model="ticket.tipificacion.N1" ng-options="tipificacion.nombre for tipificacion in tipificacionesN1 track by tipificacion.id" ng-show="tipificacionesN1.length > 0"></select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control select" ng-disabled="!ticket.updateMotivo" ng-model="ticket.tipificacion.N2" ng-options="tipificacion.nombre for tipificacion in tipificacionesN2 track by tipificacion.id" ng-show="tipificacionesN2.length > 0"></select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control select" ng-disabled="!ticket.updateMotivo" ng-model="ticket.tipificacion.N3" ng-options="tipificacion.nombre for tipificacion in tipificacionesN3 track by tipificacion.id" ng-show="tipificacionesN3.length > 0"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-md-4">
                            <select class="form-control select" ng-disabled="!ticket.updateMotivo" ng-model="ticket.tipificacion.N4" ng-options="tipificacion.nombre for tipificacion in tipificacionesN4 track by tipificacion.id" ng-show="tipificacionesN4.length > 0"></select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control select" ng-disabled="!ticket.updateMotivo" ng-model="ticket.tipificacion.N5" ng-options="tipificacion.nombre for tipificacion in tipificacionesN5 track by tipificacion.id" ng-show="tipificacionesN5.length > 0"></select>
                        </div>
                    </div>
                    
                    <!-- end - clasificacion -->

                    <!-- solver -->
                    <div class="form-group">
                        <label class="col-md-10 control-label">Buscar solución</label>
                        <div class="col-md-2">
                            <span class="input-group-btn" ><button type="button" class="btn btn-default" ng-disabled="solverObs.uploader.isLoading || !ticket.updateMotivo" ng-click="solver()"><span class="fa fa-search"></span></button></span>
                        </div>
                    </div>

                    <div class="col-md-12" ng-if="solverObs.uploader.isSuccess && ticket.solver_aut.soluciones.length > 0">
                        <accordion>
                            <accordion-group heading="Soluciones anteriores" >
                                <div class="messages">
                                    <div class="item item-visible" ng-repeat="solucion in ticket.solver_aut.soluciones | orderBy:'created_at':false">
                                        <div class="text">
                                            <div class="heading">
                                                <a ng-repeat="solver in solucion.solver">{{ solver.nombre }} > </a>
                                                <span class="date">{{ solucion.created_at }}</span>
                                            </div>
                                            {{ solucion.descripcion }}
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="col-md-12" ng-if="solverObs.uploader.isError && ticket.solver_aut.soluciones.length == 0">
                        <blockquote>
                            <p>No se existen soluciones anteriores al problema indicado!</p>
                        </blockquote>
                    </div>
                    <!-- end-solver -->
                </div>
                <!-- end - col3 -->
            </div>
            <!-- end-row1 -->
            
        </div>
        
    </div>

    <tabset class="panel tabs">
        <tab heading="Solucion">
            <div class="panel-body">
                <!-- row1 -->
                <div class="row">
                    <!-- col1 -->
                    <div class="col-md-6">
                        <accordion >
                            <accordion-group heading="Descripción Histórica" >
                                <div class="messages">
                                    <div class="item item-visible" ng-repeat="movimiento in ticket.movimientos | orderBy:'created_at':false">
                                        <div class="text" ng-if="movimiento.descripcion.length > 0">
                                            <div class="heading">
                                                <a>{{ movimiento.user.username }}</a>
                                                <span class="date">{{ movimiento.created_at }}</span>
                                                <span class="date">&nbsp;[ {{ movimiento.movclase.nombre }} ]&nbsp;</span>
                                            </div>
                                            <div ng-bind-html="movimiento.descripcion"></div>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                        
                        <div class="form-group" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])">
                            <div class="col-md-12 col-xs-12">
                                <!-- <textarea class="form-control" rows="5" name="descripcion" ng-minlength=10 ng-required="true" ng-model="ticket.currentMovimiento.descripcion" placeholder="Descripcion del movimiento"></textarea> -->
                                <summernote height="100" ng-model="ticket.currentMovimiento.descripcion" ng-required="ticket.currentMovimiento.updateAsignado"></summernote>
                            </div>
                        </div>
                    </div>
                    <!-- end-col1 -->

                     <!-- col2 -->
                    <div class="col-md-6" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])">

                        <!-- solucion -->
                        <div class="form-group" ng-controller="ModalTipificacionCtrl">
                            <label class="col-md-6 control-label">Solución del problema</label>
                            <div class="col-md-4">
                                <label class="check"><input type="checkbox" class="icheckbox_minimal-grey checked icheckbox" id="updateSolucion" name="updateSolucion" ng-model="ticket.currentMovimiento.updateSolucion" /> Actualizar</label>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-btn" ><button type="button" class="btn btn-default" ng-click="open('lg')"><span class="fa fa-plus"></span></button></span>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <div class="col-md-4">
                                <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateSolucion" ng-model="ticket.currentMovimiento.solucion.N1" ng-options="tipificacion.nombre for tipificacion in solucionesN1 track by tipificacion.id" ng-show="solucionesN1.length > 0"></select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateSolucion" ng-model="ticket.currentMovimiento.solucion.N2" ng-options="tipificacion.nombre for tipificacion in solucionesN2 track by tipificacion.id" ng-show="solucionesN2.length > 0"></select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateSolucion" ng-model="ticket.currentMovimiento.solucion.N3" ng-options="tipificacion.nombre for tipificacion in solucionesN3 track by tipificacion.id" ng-show="solucionesN3.length > 0"></select>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateSolucion" ng-model="ticket.currentMovimiento.solucion.N4" ng-options="tipificacion.nombre for tipificacion in solucionesN4 track by tipificacion.id" ng-show="solucionesN4.length > 0"></select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control select" ng-disabled="!ticket.currentMovimiento.updateSolucion" ng-model="ticket.currentMovimiento.solucion.N5" ng-options="tipificacion.nombre for tipificacion in solucionesN5 track by tipificacion.id" ng-show="solucionesN5.length > 0"></select>
                            </div>
                        </div>
                        <!-- end - solucion -->

                    </div>
                    <!-- end-col2 -->

                </div>
                <!-- end-row1 -->
            </div>
        </tab>
        <tab heading="Anexos" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DEFAULT LIST GROUP -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Anexos anteriores</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group" ng-repeat="movimiento in ticket.movimientos | orderBy:'created_at':false">
                                    <li class="list-group-item" ng-repeat="anexo in movimiento.anexosSplit"><a href="{{ anexo.href }}" target="_blank">Ver aquí</a> - [ {{ anexo.description }} ] -- Subido por: <a>{{ movimiento.user.username }}</a> at <span class="date">{{ movimiento.created_at }}</span></li>
                                </ul>                             
                            </div>
                        </div>
                        <!-- END DEFAULT LIST GROUP -->
                    </div>
                </div>
                <!-- row1 -->
                <div class="row">
                    <!-- col1 -->
                    <div class="col-md-12">

                        <!-- upload file -->
                        <div ng-controller="UploadFileController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

                            <!--  -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Agregar anexos</label>
                                    <span class="file-input file-input-new">
                                        <div class="input-group ">
                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display: none;"></span>
                                            </div>
                                            <div class="input-group-btn">
                                                <div class="btn btn-primary btn-file">
                                                    <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Navegar … 
                                                    <input type="file" nv-file-select="" uploader="uploader" multiple />
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-md-12 sr-item">
                                
                                <p><strong>Anexos</strong>: <strong>{{ uploader.queue.length }}</strong>.</p>
                                <div>
                                    <button type="button" class="btn btn-info btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="fa fa-arrow-circle-o-up"></span> Subir todo
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <span class="fa fa-ban"></span> Cancelar todo
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> Quitar todo
                                    </button>
                                </div>
                                
                                <div class="table-responsive push-up-10">
                                    <table class="table table-actions table-striped">
                                        <thead>                                            
                                            <tr>
                                                <th width="10%">Nombre</th>
                                                <th>Descripción</th>
                                                <th ng-show="uploader.isHTML5">Peso</th>
                                                <th ng-show="uploader.isHTML5">Progreso</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="item.file.descripcion" />
                                                </td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-info btn-sm" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="fa fa-arrow-circle-o-up"></span> Subir
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-sm" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="fa fa-ban"></span> Cancelar 
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Quitar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <small>
                                        Nota: Carga todos los archivos y/o retira todos los elementos con estado (X) para poder guardar el ticket.
                                    </small><br>
                                    <small>Advertencia: El estado (X) indica que el archivo tiene problemas al ser enviado al servidor, por lo cual debe ser quitado de la lista.</small>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                        <!-- end - upload file -->
                    </div>
                    <!-- end - col1 -->
                </div>
                <!-- end - row1 -->
            </div>
        </tab>

        <tab heading="Privado" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])">
            <div class="panel-body">
                <div class="row">
                    <!-- col1 -->
                    <div class="col-md-12">
                        <accordion >
                            <accordion-group heading="Histórico" >
                                <div class="messages">
                                    <div class="item item-visible" ng-repeat="movimiento in ticket.movimientos | orderBy:'created_at':false">
                                        <div class="text" ng-if="movimiento.private_descripcion.length > 1">
                                            <div class="heading">
                                                <a>{{ movimiento.user.username }}</a>
                                                <span class="date">{{ movimiento.created_at }}</span>
                                                <span class="date">&nbsp;[ {{ movimiento.movclase.nombre }} ]&nbsp;</span>
                                            </div>
                                            <div ng-bind-html="movimiento.private_descripcion"></div>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                        
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <summernote height="100" ng-model="ticket.currentMovimiento.private_descripcion" ></summernote>
                            </div>
                        </div>
                    </div>
                    <!-- end-col1 -->
                </div>
            </div>
        </tab>

        <tab heading="Gest. Problema" ng-show="ticket.rcareports.length > 0">
            <div class="panel-body">
<!--                row1 -->
                <div class="row" ng-controller="dtRcareports">
                    <div class="table-responsive">
                        <div>
                            <table datatable dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover datatable dataTable no-footer"></table>
                        </div>
                    </div>
                </div>
<!--                end-row2 -->
            </div>
        </tab>
    </tabset>

    <div class="panel-footer">
        <a href="#/tickets" class="btn btn-default">Regresar</a>
        <button ng-click="updateTicket(frm_editicket.$valid)" ng-if="isAuthorized([userRoles.super, userRoles.manager, userRoles.analista])" ng-disabled="frm_editicket.$invalid || ticketObs.uploader.isLoading" class="btn btn-primary pull-right">Actualizar Ticket <span class="fa fa-floppy-o fa-right"></span></button>
    </div>
   
</form>

