<div class="row">
    <div class="col-md-12">
        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default" ng-controller="ListClasesDt as vm">
            <div class="panel-heading">
                <h3 class="panel-title">Clases - Resumen</h3>
                <ul class="panel-controls">
                    <li class="panel-refresh">
                        <a ng-click="vm.reloadData()" class="panel-refresh"><span class="fa fa-refresh"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div>
                        <table datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-hover datatable dataTable no-footer"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DEFAULT DATATABLE -->
    </div>
</div>
