<div class="row">
	<div class="col-md-12">
		<div class="error-container">
			<div class="error-code">404</div>
			<div class="error-text">Página no encontrada</div>
			<div class="error-subtext">Desafortunadamente no es posible cargar la página solicitada. Asegúrate de haber ingresado a la dirección correcta.</div>
			<div class="error-actions">
				<div class="row">
					<div class="col-md-6">
						<a class="btn btn-info btn-block btn-lg" href="#/dashboard">Regresar al dashboard</a>
					</div>
					<div class="col-md-6">
						<button class="btn btn-primary btn-block btn-lg" onClick="history.back();">Página anterior</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>