<div class="row">
	<div class="col-md-12" ng-show="!grupoObs.uploader.isLoading">
		<form novalidate name="grupo_frm" class="form-horizontal" ng-submit="updateGrupo(grupo_frm.$valid)" ng-include="'views/grupos/partials/frmedit.html'"></form>
	</div>
	<!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="grupoObs.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ grupoObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/grupos"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="grupoObs.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ grupoObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/grupos"> Regresar</a>
        </div>
    </div>
</div>
