<div class="row">
	<div class="col-md-12" ng-show="!cargoObs.uploader.isLoading">
		<form novalidate name="cargo_frm" class="form-horizontal" ng-submit="updateCargo(cargo_frm.$valid)" ng-include="'views/cargos/partials/frmedit.html'"></form>
	</div>
	<!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="cargoObs.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ cargoObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/cargos"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="cargoObs.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ cargoObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/cargos"> Regresar</a>
        </div>
    </div>
</div>
