<div class="row">
	<div class="col-md-12" ng-show="!areaObs.uploader.isLoading">
		<form novalidate name="area_frm" class="form-horizontal" ng-submit="newArea(area_frm.$valid)" ng-include="'views/areas/partials/frmcreate.html'"></form>
	</div>
	<!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="areaObs.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ areaObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/areas"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="areaObs.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ areaObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/areas"> Regresar</a>
        </div>
    </div>
</div>
