<div class="row">
	<div class="col-md-12" ng-show="!tipificacion.uploader.isLoading">
		<form novalidate name="tipificaciones_frm" class="form-horizontal" ng-include="'views/tipificaciones/forms/frm_create.html'"></form>
	</div>
    <!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="tipificacion.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ tipificacion.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/tipificaciones"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="tipificacion.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ tipificacion.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/tipificaciones"> Regresar</a>
        </div>
    </div>
</div>