<div class="row">
    <div class="col-md-12" ng-show="!userObs.uploader.isLoading">
        <form novalidate name="frm_user" class="form-horizontal" ng-submit="updateUser(frm_user.$valid)" ng-include="'views/users/forms/frm_edit.html'"></form>
    </div>
    <!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="userObs.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ userObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/users"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="userObs.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ userObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/users"> Regresar</a>
        </div>
    </div>
</div>
<br><br>