<div class="row">
	<div class="col-md-12" ng-show="!uvm.ubicacionObs.uploader.isLoading">
		<form novalidate name="ubicacion_frm" class="form-horizontal" ng-submit="uvm.updateSla(ubicacion_frm.$valid)" ng-include="'views/ubicaciones/forms/frmedit.html'"></form>
	</div>
	<!-- Alertas del proceso de registro -->
    <div class="col-md-12" ng-show="uvm.ubicacionObs.uploader.isError">
        <div class="alert alert-danger" role="alert"><strong>{{ uvm.ubicacionObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-danger btn-sm" href="#/ubicaciones"> Regresar</a>
        </div>
    </div>
    <div class="col-md-12" ng-show="uvm.ubicacionObs.uploader.isSuccess">
        <div class="alert alert-success" role="alert"><strong>{{ uvm.ubicacionObs.uploader.message }}</strong><br>
            <a type="button" class="btn btn-success btn-sm" href="#/ubicaciones"> Regresar</a>
        </div>
    </div>
</div>
